@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital@1&display=swap');
#wrapper {
    max-width: 960px;
    margin: auto;
}

.fon {
    width: auto;
    background-attachment: fixed;
    height: 200px;
    background: linear-gradient(120deg, rgba(52, 34, 195, 1) 0%, rgba(218, 7, 255, 1) 100%);
    border-top: 5px solid #7e7e7e;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#poisk * {
    box-sizing: border-box;
}

#poisk form {
    width: auto;
    float: right;
    margin-right: 30px;
}

#poisk input {
    width: 250px;
    height: 42px;
    padding-left: 15px;
    border-radius: 42px;
    border: 2px solid #16F5EF;
    background: #ffffff;
    outline: none;
    position: relative;
    transition: .3s linear;
}

#poisk input:focus {
    width: 300px;
}

h3 {
    font-family: 'Bentham', serif;
}

.lil {
    display: flex;
    flex: auto;
    flex-direction: row;
    align-items: center;
    font-family: 'Bentham', serif;
}

h3.title-example {
    font-size: 24px;
    color: white;
    text-align: center;
}

h3.title-example:before {
    content: '';
    display: block;
    height: 2px;
    background: #b88dff;
    width: 150px;
    margin: 0 auto 10px;
    transition: 1s;
}

h3.title-example:hover:before {
    width: 200px;
    transition: ease-out 1s;
}

h3.title-example:after {
    content: '';
    display: block;
    height: 2px;
    background: #b88dff;
    width: 150px;
    margin: 10px auto 0;
    transition: 1s;
}

h3.title-example:hover:after {
    width: 200px;
    transition: ease-out 1s;
}

.top-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.top-menu li {
    font-size: 18px;
}

.top-menu li:hover {
    background-color: #29c5e6;
}

.top-menu li:hover a {
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b88dff;
    font-family: 'Bentham', serif;
}

.lil {
    float: left;
    font-family: 'Bentham', serif;
}

h3 {
    font-family: 'Bentham', serif;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16, 5px;
    font-family: 'Kaushan Script';
}

li a:hover {
    background-color: #332e63;
}

.active {
    background-color: #16ccf5;
    font-family: 'Bentham', serif;
}

#heading {
    margin: 15px 0;
    padding-left: 20px;
}

aside {
    float: left;
    width: 250px;
    display: block;
}

section {
    padding-bottom: 50px;
    width: 100%;
    padding: 50px;
}

.aside-menu li {
    font-weight: 300;
    list-style-type: none;
    border-top: 1px solid #fffefe;
}

.aside-menu li:first-child {
    border: none;
}

.aside-menu li.active {
    color: #29c5e6;
}

.aside-menu a {
    color: #fff;
}

aside>h2 {
    background: #29c5e6;
    font-family: 'Bentham', serif;
    font-size: 25px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin: 30px 0 0 0;
}

aside>p {
    background: #b88dff;
    border: 1px solid #b88dff;
    padding: 10px;
    margin: 0;
}

h1 {
    font-family: 'Bentham', serif;
    font-size: 25px;
    color: #fff;
}

.container_slider_css {
    margin: 0 auto;
    width: 900px;
    height: 350px;
    overflow: hidden;
    position: relative;
}

.photo_slider_css {
    position: absolute;
    animation: round 16s infinite;
    opacity: 0;
    width: 100%
}

@keyframes round {
    25% {
        opacity: 1
    }
    40% {
        opacity: 0
    }
}

img:nth-child(1) {
    animation-delay: 12s
}

img:nth-child(2) {
    animation-delay: 8s
}

img:nth-child(3) {
    animation-delay: 4s
}

img:nth-child(4) {
    animation-delay: 0
}

@media(min-width:0px) and (max-width:320px) {
    .container_slider_css {
        width: 80%;
        height: 190px
    }
}

@media(min-width:321px) and (max-width:480px) {
    .container_slider_css {
        width: 80%;
        height: 190px
    }
}

#footer {
    width: auto;
    margin: auto;
    padding: 10px 20px;
    height: 145px;
    background-color: #8d52eb;
}

footer h3 {
    font-family: 'Bentham', serif;
    font-size: 16px;
    color: #fff;
    border-bottom: 1px solid #fff;
    margin: 0 0 10px 0;
}

#twitter time a {
    color: #fafafa;
}

footer p {
    margin: 5px 0;
    font-size: 14px;
    font-family: 'Arsenal', sans-serif;
}

#twitter {
    float: left;
    width: 300px;
}

#twitter p {
    padding-right: 15px;
    font-size: 16px;
}

footer a {
    color: #dbdbdb;
}

#sitemap {
    width: 150px;
    float: left;
    margin-left: 100px;
    padding-right: 50px;
}

#sitemap div {
    display: inline-block;
}

#sitemap div+div {
    margin-left: 100px;
}

#sitemap a {
    display: block;
    text-decoration: none;
    font-size: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    font-family: 'Bentham', serif;
}

#sitemap a:hover {
    text-decoration: underline;
}

#social {
    float: left;
    margin-left: 150px;
    width: 160px;
    padding: unset;
}

.lil {
    display: flex;
    flex: auto;
    flex-direction: row;
    align-items: center;
    font-family: 'Bentham', serif;
}

#footer-logo {
    float: right;
    margin-top: 20px;
    font-size: 10px;
    text-align: right;
}

.item {
    display: flex;
    width: 500px;
    height: 250px;
    font-family: 'Bentham', serif;
    margin: 10px 50px 10px 50px;
}

.item img {
    display: block;
    width: 400px;
    height: 100%;
    margin: 0 50px 0 70px;
}

.item p,
.item a {
    margin: 0;
    padding: 0;
    width: 350;
}

.description {
    width: 300px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 20px 20px;
}

.name {
    text-transform: uppercase;
    font-size: 20px;
    color: #fFF;
}

.surname {
    font-size: 14px;
    color: #fff;
}

del {
    text-decoration: line-through;
    text-decoration-color: red;
    font-size: 12px;
}

span {
    background-color: #df4c4c;
    width: 50px;
}

.btn-color,
.btn-transparent {
    text-decoration: none;
    width: 200px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
}

.btn-color {
    background: #29c5e6;
    color: #fff;
}

.btn-transparent {
    border: 2px solid lightblue;
    color: lightblue;
}

.katal {
    background: #29c5e6;
    font-family: 'Bentham', serif;
    font-size: 23px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10px;
}